.home {
	padding-top: 20px;
}

.home h1{
	text-align: center;
	color: #00bcd4;
}

.home h2 {
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	color: gray;		
}

.home-href {
	text-align: center;
	padding-top: 20px;
}

.booked-status {
	color: red;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;
    background: #999
}

.logout {
	float: right;
}