<div class="container">
	<header class="home">
		<h1>Welcome to app</h1>
	</header>
	<nav class="navbar navbar-inverse fixed-header" role="navigation">
    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li  ui-sref-active="active-link">
                <a ui-sref="app.app1" ui-sref-active="active">Dashboard</a>
            </li>
            <li ui-sref-active="active-link">
                 <a ui-sref="app.app2" ui-sref-active="active">Settings</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
	<ui-view></ui-view>
</div>
<div id="footer" ng-if= "showFooter">
  <div class="container">
    <p>&nbsp;</p>
    <p class="footer">Copyright ©RouteDemo.com</p>
  </div>
</div>